body {
    height: 1000px;
}

.header {
    min-width: 320px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 944px;
    overflow: hidden;
}

.header__nav {
    height: 86px;
}

.header__nav-mobile-toggle {
    border: none;
    background: none;
    position: absolute;
    top: 68px;
    right: 30px;
    display: none;
    padding: 0;
    width: 33px;
    height: 20px;
    cursor: pointer;
    transition: all 0.25s;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__nav-item a {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    color: #828282;
    text-decoration: none;
}

.header__nav-item_active a {
    color: #070707;
}

.header__delimiter {
    border: 1px solid #828282;
    margin: 0 auto;
    width: 99%;
}

.header__title-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin-top: 31px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 47.3px;
    line-height: 57px;
    color: #070707;
}

.header__description {
    margin-top: 92px;
    margin-left: -53px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.header__languages-info {
    margin-top: 61px;
}

.header__photo-desktop {
    margin-top: 43px;
    width: 100%;
    height: 387px;
    object-fit: cover;
}

.header__photo-mobile {
    display: none;
    margin: 41px auto 0;
    width: 84%;
    height: 477px;
    object-fit: cover;
}

@media screen and (max-width: 944px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .header__nav-mobile-toggle {
        display: block;
        z-index: 2;
    }

    .header__nav {
        background-color: #FFFFFF;
        position: absolute;
        top: 55px;
        right: -101%;
        display: block;
        padding: 11px 0;
        width: 100%;
        height: auto;
        transition: right 0.2s;
        z-index: 1;
    }

    .header__nav-list {
        display: block;
        padding-left: 30px;
    }

    .header__nav-item:nth-of-type(n+2) {
        margin-top: 28px;
    }

    .header__delimiter {
        display: none;
    }

    .header__title-wrapper {
        display: block;
    }

    .header__title {
        margin-top: 55px;
        margin-left: 26px;
    }

    .header__description {
        margin-top: 22px;
        margin-left: 28px;
    }

    .header__languages-info {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .header__photo-desktop {
        display: none;
    }
    
    .header__photo-mobile {
        display: block;
    }
}

.main {
    min-width: 320px;
    padding-top: 102px;
}

.about {
    background-color: #F6F6F6;
    min-width: 320px;
}

.container_about {
    padding: 114px 0;
}

.section-title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 34px;
    color: #070707;
    text-align: center;
}

.section-description {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    text-align: center;
}

.section-description_about {
    margin-top: 27px;
}

.section-description_about:nth-of-type(n+2) {
    margin-top: 43px;
}

@media screen and (max-width: 375px) {
    .main {
        padding-top: 84px;
    }

    .container_about {
        box-sizing: border-box;
        padding: 77px 32px;
    }

    .section-description_about {
        margin-top: 39px;
    }

    .section-description_about br {
        display: none;
    }
}

.skills {
    min-width: 320px;
}

.container_skills {
    padding: 87px 0 108px;
}

.section-description_skills {
    margin-top: 61px;
}

.skills__programs-list {
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
}

.skills__programs-item {
    width: 177px;
    text-align: center;
}

.skills__programs-item figure img {
    width: 89px;
    height: 88px;
}

.skills__programs-item figcaption {
    box-sizing: border-box;
    margin-top: 20px;
    height: 34px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.skills__programs-item > img {
    margin-top: 34px;
    width: 170px;
}

@media screen and (max-width: 800px) {
    .skills__programs-list {
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 100px 0;
    }

    .skills__programs-item {
        margin: 0 60px;
    }
}

@media screen and (max-width: 594px) {
    .skills__programs-list {
        grid-gap: 70px 0;
    }

    .skills__programs-item {
        margin: 0 40px;
    }
}

@media screen and (max-width: 514px) {
    .skills__programs-list {
        grid-gap: 35px 0;
    }

    .skills__programs-item {
        margin: 0 20px;
    }
}

@media screen and (max-width: 434px) {
    .container_skills {
        padding: 81px 0 95px;
    }

    .section-description_skills {
        margin-top: 42px;
    }

    .skills__programs-list {
        grid-gap: 78px 0;
        margin-top: 76px;
    }
}

.portfolio {
    background-color: #F6F6F6;
    min-width: 320px;
}

.container_portfolio {
    padding-top: 110px;
    padding-bottom: 100px;
}

.portfolio__item figure {
    margin: 58px auto 0;
}

.portfolio__item img {
    width: 100%;
}

.portfolio__item figcaption {
    margin-top: 38px;
    text-align: center;
}

.portfolio__item a {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    color: #070707;
    text-align: center;
}

.portfolio__item:nth-of-type(n+2) {
    margin-top: 104px;
}

@media screen and (max-width: 600px) {
    .container_portfolio {
        padding-top: 79px;
        padding-bottom: 89px;
    }

    .portfolio__item figure {
        margin-top: 77px;
        max-width: 84%;
    }

    .portfolio__item figcaption {
        margin-top: 28px;
    }

    .portfolio__item:nth-of-type(n+2) {
        margin-top: 86px;
    }
}

.footer {
    min-width: 320px;
}

.container_footer {
    padding: 111px 0;
}

.section-description_footer {
    margin-top: 30px;
}

.footer__button {
    border: none;
    border-radius: 20px;
    background-color: #070707;
    display: block;
    margin: 32px auto 0;
    width: 180px;
    height: 42px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__socials-list {
    display: flex;
    justify-content: space-between;
    margin: 85px auto 0;
    width: 341px;
}

.footer__socials-description {
    margin-top: 41px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    text-align: center;
}

@media screen and (max-width: 375px) {
    .container_footer {
        padding: 77px 0;
    }

    .section-description_footer {
        margin-top: 36px;
    }

    .footer__button {
        margin: 43px auto 0;
        width: 84%;
    }

    .footer__socials-list {
        margin: 48px auto 0;
        width: 84%;
    }

    .footer__socials-description {
        margin-top: 42px;
        font-size: 4.8vw;
        line-height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .footer__socials-description {
        font-size: 15.3px;
    }
}